.navbar {
    display: flex;
    gap: 20px;
    background-color: rgb(189, 243, 243);
    padding: 10px;
    justify-content: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar li Link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  